/ANEXOS
/DADOS
/FILTROS
/LEIA-ME
/out.csv
/clf_model_teachers.pkl

/DADOS/docentes_co.CSV
/DADOS/docentes_nordeste.CSV
/DADOS/docentes_norte.CSV
/DADOS/docentes_sul.CSV
/DADOS/escolas.CSV
/DADOS/gestor.CSV
/DADOS/matricula_co.CSV
/DADOS/matricula_nordeste.CSV
/DADOS/matricula_norte.CSV
/DADOS/matricula_sul.CSV
/DADOS/matricula_sudeste.CSV
/DADOS/MD5_microdados_ed_basica_2020.txt
/DADOS/turmas.CSV